/*Font notes - SF UI Display
.bold{font-family: font92682; }
.regular{font-family: font92685;}
.light{font-family: font92723; }*/
/** Ultra Light */
@font-face {
    font-family: "San Francisco";
    font-weight: 100;
    src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-ultralight-webfont.woff");
}

/** Thin */
@font-face {
    font-family: "San Francisco";
    font-weight: 200;
    src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-thin-webfont.woff");
}

/** Regular */
@font-face {
    font-family: "San Francisco";
    font-weight: 400;
    src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}

/** Medium */
@font-face {
    font-family: "San Francisco";
    font-weight: 500;
    src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-medium-webfont.woff");
}

/** Semi Bold */
@font-face {
    font-family: "San Francisco";
    font-weight: 600;
    src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-semibold-webfont.woff");
}

/** Bold */
@font-face {
    font-family: "San Francisco";
    font-weight: 700;
    src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-bold-webfont.woff");
}



/*Font notes - Europa */
/* Europa-Bold Bold

font-family: europa, sans-serif;

font-weight: 700;

font-style: normal;


Europa-Light Light

font-family: europa, sans-serif;

font-weight: 300;

font-style: normal;


Europa-Regular Regular

font-family: europa, sans-serif;

font-weight: 400;

font-style: normal;


Europa-Light LightItalic

font-family: europa, sans-serif;

font-weight: 300;

font-style: italic;


Europa-Regular RegularItalic

font-family: europa, sans-serif;

font-weight: 400;

font-style: italic;


Europa-Bold BoldItalic

font-family: europa, sans-serif;

font-weight: 700;

font-style: italic; */



*{
    font-family: "San Francisco", 'Open Sans', sans-serif;
    /* color: #555; */
    margin: 0;
}

p{
    font-size: 15.8px;
    line-height: 20px;
}

h1, h2 {
    font-family: europa, sans-serif;
    font-weight: 700;
    font-style: normal;
}

.big-text .highlightYellow{
    font-family: europa, sans-serif;
    font-weight: 700;
    font-style: normal; 
    font-size: 1.2em;
}


a{
    text-decoration: none;
    cursor: pointer;
    color: inherit; 
}

a:hover{
    cursor: pointer;
}

li{
    list-style-type: none;
}

.highlightYellow{
    background-color: yellow;
    /* font-family: 'Open Sans', sans-serif; */
}


.a-underline{
    text-underline-position: below;
    text-decoration: underline;
    transition: all 0.3;
    cursor: pointer;
    
}

.a-underline:hover{
    background-color: yellow;
    text-decoration: none;
    color: #333;
}

.a-noLine{
    transition: all 0.3;
    cursor: pointer;
}

.a-noLine:hover{
    background-color: yellow;
    text-decoration: none;
    color: #333;
}

.active{
    text-underline-position: below;
    text-decoration: underline;
    transition: all 0.3;
}

/* Wave hand emoji! https://jarv.is/notes/css-waving-hand-emoji/ */
span.wave {
    animation-name: wave-animation;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    transform-origin: 70% 70%;
    display: inline-block;
  }
  
  @keyframes wave-animation {
      0% { transform: rotate(  0.0deg) }
     10% { transform: rotate(-10.0deg) }
     20% { transform: rotate( 12.0deg) }
     30% { transform: rotate(-10.0deg) }
     40% { transform: rotate(  9.0deg) }
     50% { transform: rotate(  0.0deg) }
    100% { transform: rotate(  0.0deg) }
  }

.secHero{
    height: 100%;
    display: flex;
    align-items: center;
}

.middleLine{
    height: 1px; 
    margin-top: 61.6667px; 
    /* margin-bottom: 87.5px;  */
    background-color: rgb(234, 234, 234); 
    padding: 0px;
}

#secMore{
    text-align: center;
}

.button{
    border: 1px solid #555;
    background-color: white;
    padding: 10px 35px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 30px;
    display: inline-block;
    text-align: center;
    margin: auto;
}

.button:hover {
    background: yellow;
    border: 1px solid yellow;
}

footer{
    
    margin-right: 15vw;
    margin-top: 100px;
    padding-bottom: 50px;
}

.copyright{
    text-align: right;
}


/* BEHAVIOR & ANIMATION EFFECT*/
.btnOne, .about-content {
    opacity: 0;
    transform: translateY(3em);
    transition: all 0.5s;
    margin-bottom: 4px;
}

.work-top3-content, .heroText{
    opacity: 0;
    transform: translateY(3em);
    transition: all 0.5s;
    margin-bottom: 0px;
}

.appear{
    opacity: 1;
    margin-bottom: 0px;
    transform: translateY(0);
    -webkit-animation: fade-in .8s ease-out forwards;
    animation:fade-in .8s ease-out forwards;
}

.display{
    display: all;
    opacity: 1;
    transition: 0.5s;
}



.socialbtns{
	margin: 0;
	padding: 5px;
}

.col2 .socialMedia{
    padding-top: 3vh;
}

.socialMedia .fa {
    margin: 0px 15px 0px 0px;
    text-align: center;
    border: 1px solid #777;
    width: 33px;
    height: 26px;
	background-color: white;
	padding-top: 12px;
	border-radius: 30px;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	-o-border-radius: 30px;
	transition: all ease 0.5s;
	-moz-transition: all ease 0.5s;
	-webkit-transition: all ease 0.5s;
	-o-transition: all ease 0.5s;
}

.socialbtns .fa:hover {
	transform: scale(1.2,1.2);
	-moz-transform: scale(1.2,1.2);
	-webkit-transform: scale(1.2,1.2);
	-o-transform: scale(1.2,1.2);
	transition: all ease 0.5s;
	-moz-transition: all ease 0.5s;
	-webkit-transition: all ease 0.5s;
	-o-transition: all ease 0.5s;
}

/* First Section */



/* MAIN CONTAINER */
.main-contianer{
    margin: auto;
}
.heroText{
    width: 40vw;
    padding-top: 20vh;
    margin-bottom: 15vh;
    padding-left: 15vw;
}

.big-text{
    font-size: 2.4em;
    /* font-family: 'Open Sans', sans-serif; */
}

.secondBig-text{
    font-weight: 400;
    margin-top: 5vh;
    font-size: 2.2em;
}

.work-top3-content{
    padding-left: 15vw;
    padding-right: 15vw;
    padding-top: 5vh;
    /* color: #f8f7fb */
}

/* .project-cont-one, .project-cont-two, .project-cont-three{
    margin-bottom: 5vh;
} */

#projectOne{
    /* color: #f8f7fb; */
}

.work-top3-content .project-cont-sec{
    padding-bottom: 8vh;
}

.w-top3-img{
    width: 80%;
    padding-left: 20%;
}

.secondBig-text{
    padding-bottom: 10px;
}

.work-top3-content p{
    margin-bottom: 20px;
}

#secMore{
    padding-top: 100px;
    padding-bottom: 100px;
}

#about{
    padding-top: 50px;
    
}

.about-content{
    margin-left: 15vw;
    margin-right: 15vw;
}

.about-emi{
    padding: 35px 10px 35px 0px;
}

.contact{
    padding: 30px 0px;
    color: rgb(160, 160, 160);
}

.workCat{
    padding-left: 15vw;
    padding-top: 80px;
    z-index: 1000;
    position: relative;
}

.workCat li{
    display: inline;
    margin-right: 20px;
}

.reachOut{
    padding-left: 15vw;
}

.coffee{
    font-size: 1.2em;
    font-weight: 600;
}

.email{
    margin-right: 50px;
    display: inline-block;
}

.otherLinks{
    padding-top: 10px;
}

.otherLinks a{
    margin-right: 10px;
}


/* COLUMNS */
.alignTop{
    vertical-align: top;
}

.col2{
    width: calc(99% / 2) ;
    display: inline-block;
}

.col3{
    width: calc(99% / 3) ;
    display: inline-block;
}

/* .col2{
    width: calc(80vw / 6) ;
    display: inline-block;
    background-color: blanchedalmond;
}

.col3{
    width: calc(80vw / 4) ;
    display: inline-block;
    background-color: blanchedalmond;
}

.col4{
    width: calc(80vw / 3) ;
    display: inline-block;
    background-color: blanchedalmond;
}

.col6{
    width: calc(80vw / 2) ;
    display: inline-block;
    background-color: blanchedalmond;
}

.col8{
    width: calc((80vw / 3) * 2) ;
    display: inline-block;
    background-color: blanchedalmond;
}

.col9{
    width: calc((80vw / 4) * 3) ;
    display: inline-block;
    background-color: blanchedalmond;
}

.col10{
    width: calc(((80vw / 3) * 2) + (80vw / 6)) ;
    display: inline-block;
    background-color: blanchedalmond;
}

.col12{
    width: 80vw;
    background-color: blanchedalmond;
} */


/* GRID */
.items{
    min-height: 445px;
}
#item1 {background: #004ea8;}
#item2 {background: #ff596f; }
#item1 p, #item2 p, #item3 p, #item4 p{color:rgba(255, 255, 255, 0.7);}
#item1, #item2, #item3, #item4{color:rgba(255, 255, 255, 0.9);}
#item3 {background: #f27259;}
#item4 {background: #031f33;}
#item5 {background: #ffffff;}
#item5 p{color:rgba(85, 85, 85, 0.7);}
#item5{color:rgba(85, 85, 85, 0.9);}
#item6 {background: #E9573F;}
#item7 {background: #434A54;}
#item8 {background: #D770AD;}
#item9 {background: #8CC152;}
#item10 {background: #967ADC;}
#item11 {background: #E6E9ED; color: #333;}
#item12 {background: #AAB2BD; color: #333;}
#item13 {background: #37BC9B; color: #333;}
#item14 {background: #4287f5; color: #333;}
#item15 {background: #4A89DC; color: #333;}
#item16 {background: #fcba03; color: #333;}
#item17 {background: #4A89DC; color: #333;}
#item18 {background: rgb(81, 208, 212); color: #333;}







/* FIXED HEADER & NAV  */

#mySideNav{
	width: 0;
	height: 100vh;
	z-index: 100;
	background-color: black;
	opacity: 0.9;
	display: block;
	position: fixed;
	text-align: center;
	transition: width 1s; 
	overflow-x: hidden;
	}

#mySideNav.openMenu{
    width:100vw; 
    opacity: 0.9;
}

.sideNav a{
	text-decoration: none;
	font-size: 25px;
	color: white;
	display: block;
	padding: 10px;
    margin-top: 30px;
    opacity: 0;
    transition: 0.3s;
}

.sideNav.openMenu a{
    opacity: 1;
}

.sideNav a:hover{
color: gold;
}

#navbar{
    align-content: center;
    text-decoration: none;
    list-style-type: none;
    height: 60px;
    margin-top: 2vh;
    z-index: 20; 
    padding-left: 15vw;
    padding-right: 15vw;
    margin-left: 0;
    z-index: 10;
    display: block;
    margin: auto;
    transition: top 0.2s ease-in-out;
    width: 100%;
    background-color: white;
    z-index: 1001;
    position: relative;
}

#navbar.fixed{
    position: fixed;
}

#navbar .logo{
    display: inline-block;
    z-index: 100; 
    margin-left: 55vw;
}

#navbar img{
    width: 25px;

}

#navbar li{
    display: inline-block;
    padding-right: 3vw;
    padding-top: 2vh;
}


#closeIcon{
    font-size: 45px;
    color: white;
    float: left;
    padding-left: 5vw;
}

.submenu{
    font-size: 1em;
    padding: 13px 13px 13px 0px;
    text-decoration: none;
}


#ham-container{
    /* position: fixed; */
    z-index: 90;
    display: none;
    width: 100vw;
    height: 55px;
    /* padding-top: 15px; */
    background-color: #f8f7fb;
    transition: all 0.3s;
}

#ham-container .logo{
    display: inline-block;
    margin-left: 80vw;
    padding-top: 10px;
}

.hamberguer{
    top: 20px;
    left: 30px;
    font-size: 30px;  
    padding-left: 5vw;
    padding-top: 15px;
}

#ham-container img{
    top: 30px;
    right: 40px;
    /* position: absolute; */
    width: 30px;
    height: 30px;
}

.hamMenu1{
    font-size: 2.5em; 
    padding-top:100px;
}

.hamWCat{
    color: white;
}



/* MEDIA QUERIES --------------------------------------- */


/* desktop BIG SCREEN */
@media screen and (min-width: 1050px) {

	section .items{
		width: calc(80vw/4);
		height: calc(80vw/4);
	}

	header #desktop{
		display: block;
	}

	header #mobile{
		display: none;
	}
}

/* small desktop */
@media screen and (min-width: 1279px) and (min-device-width: 1279px) and (max-width: 1366px) {
	section .items{
		width: calc(80vw/2);
		height: calc(80vw/2);
	}

	header #desktop{
		display: block;
	}

	header #mobile{
		display: none;
    }
    
    .big-text {
        font-size: 1em;
        padding-top: 2vh;
    }
    .secondBig-text {
        font-weight: 400;
        margin-top: 5vh;
        margin-bottom: 3vh;
    }

    footer{
        margin-right: 10vw;
    }

    .heroText{
        margin-bottom: 10vh;
        padding-left: 10vw;
    }

    .about-content{
        margin-left: 10vw;
        margin-right: 10vw;
    }

    #navbar{
        padding-left: 10vw;
        padding-right: 10vw;
    }

    .rachOut{
        margin-left: 10vw;
    }

    .reachOut{
        padding-left: 10vw;
    }
}


/* small laptop */
@media screen and (min-width: 500px) and (max-width: 1023px) and (orientation: landscape){
	section .items{
		width: calc(80vw/3);
		height: calc(80vw/3);
	}

	header #desktop{
		display: block;
	}

	header #mobile{
		display: none;
    }
    
    .heroText {
        width: 54vw;
    }

    .big-text {
        font-size: 2.2em;
    }
    .secondBig-text {
        padding-bottom: 4vh;
        font-size: 2em;
    }

    .heroText .secondBig-text{
        width: 40vw;
    }

    footer{
        margin-right: 10vw;
    }

    .heroText{
        margin-bottom: 10vh;
        padding-left: 10vw;
    }

    .work-top3-content{
        padding-left: 10vw;
        padding-right: 10vw;
    }

    .about-content{
        margin-left: 10vw;
        margin-right: 10vw;
    }

    #navbar{
        padding-left: 10vw;
        padding-right: 10vw;
    }

    .rachOut{
        margin-left: 10vw;
    }

    .reachOut{
        padding-left: 10vw;
    }

    .workCat{
        padding-left: 10vw;
    }

}



/* LANDSCAPE */
/* tablet landscape */
@media screen and (min-width: 1024px) and (max-width: 1366px) and (orientation: landscape){
	section .items{
		width: calc(80vw/3);
		height: calc(80vw/3);
	}

	header #desktop{
		display: block;
	}

	header #mobile{
		display: none;
    }
    
    .heroText {
        width: 45vw;
    }

    .secHero .secondBig-text {
        font-size: 1em;
        width: 40vw;
    }

    .big-text {
        font-size: 2.4em;
    }
    footer{
        margin-right: 10vw;
    }

    .heroText{
        margin-bottom: 10vh;
        padding-left: 10vw;
    }

    .work-top3-content{
        padding-left: 10vw;
        padding-right: 10vw;
    }

    .about-content{
        margin-left: 10vw;
        margin-right: 10vw;
    }

    #navbar{
        padding-left: 10vw;
        padding-right: 10vw;
    }

    .rachOut{
        margin-left: 10vw;
    }

    .reachOut{
        padding-left: 10vw;
    }

    .workCat{
        padding-left: 10vw;
    }

}

/* mobile landscape */
/* seems to be a difference between Android and iOS, device-width and device-height changes with orientation*/
@media screen and (min-width: 568px) and (max-device-width: 896px) and (orientation: landscape){
    .heroText {
        width: 75vw;
    }
    .big-text {
        font-size: 1.8em;
    }

    .secondBig-text {
        font-size: 2em;
        padding-bottom: 2vh;
    }
    #secMore {
        padding-top: 10vh;
        padding-bottom: 5vh;
    }

    footer{
        margin-right: 10vw;
    }

    .heroText{
        margin-bottom: 10vh;
        padding-left: 10vw;
    }

    .work-top3-content{
        padding-left: 10vw;
        padding-right: 10vw;
    }

    .about-content{
        margin-left: 10vw;
        margin-right: 10vw;
    }

    #navbar{
        padding-left: 10vw;
        padding-right: 10vw;
    }

    .rachOut{
        margin-left: 10vw;
    }

    .reachOut{
        padding-left: 10vw;
    }

    .workCat{
        padding-left: 10vw;
    }
}



/* PORTRAIT */
/* tablet portrait */
@media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait){
    #ham-container{
        display: block;
        position: fixed;
    }

    #navbar{
        display: none;
    }
    
    .heroText {
        width: 70vw;
    }
    .big-text {
        font-size: 3.5em;
        padding-top: 3vh;
    }

    .secondBig-text {
        padding-bottom: 2vh;
    }
    .items {
        height: 40%;
    }

    .w-top3-img{
        width: 100%;
        padding-left: 0;
    }
}

/* mobile portrait */
@media screen and (max-device-width: 414px) and (orientation: portrait){

    #ham-container{
        display: block;
        position: fixed;
    }

    #ham-container .logo {
        margin-left: 72vw;
    }

    #navbar{
        display: none;
    }

    .heroText {
        padding-left: 30px;
        width: 80vw;
        padding-top: 20%;
    }

    .big-text {
        font-size: 2em;
        padding-top: 5vh;
    }

    .secondBig-text {
        margin-top: 10vh;
        padding-bottom: 3vh;
    }

    #secMore {
        padding-top: 5vh;
        padding-bottom: 0;
    }

    p, a{
        font-size: 18px;
    }

    .work-top3-content .col2, .about-content .col2{
        width: 100%;
    }
    .w-top3-img {
        width: 100%;
        padding-left: 0;
    }

    .about-emi{
        padding: 35px 0px 35px 0px;
    }

    .socialMedia{
        padding-top: 20px;
    }

    .socialMedia .fa{
        float: right;
    }

    .reachOut .socialMedia{
        padding-top: 0px;
    }

    .reachOut .socialMedia .fa {
        float: left;
    }

} 



